.error{
    color:brown;
}
.login-section{
    width: 30%;
    margin: 10% 35%;
    border: #ef7a99 solid;
    border-radius: 12%;
}

.login-formulario{
width: 90%;
padding: 1%;
font-size: 16px;
margin-bottom: 5%;
}


.login-input {
border-radius: 10px;
padding: 2% 1%;
margin: 3% 1%;
width: 98%;
}
.login-div{
    display: flex;
    margin: 5% 0;
}
label{
    font-size: 18px;
    padding-left: 5%;
    align-content: center;
}
.login-btn{
    margin-top: 2% ;
background-color: #ef7a99;
}