.error{
    color:brown;
}

.login-formulario{
width: 90%;
padding: 1%;
font-size: 16px;
margin-bottom: 5%;
}

.login-section{
    width: 100%;
    margin: 20%;
    border: #ef7a99 solid;
    border-radius: 12%;
}

.login-input {
border-radius: 10px;
padding: 2%;
margin: 3%;
width: 100%;
}
.login-div{
    display: flex;
    margin: 5% 0;
}
label{
    font-size: 20px;
    padding-left: 5%;
    align-content: center;
}
.login-btn{
    margin-top: 2% ;
background-color: #ef7a99;
}