/*.error{
    color:brown;
}
.formulario{
width: 50%;
padding: 1%;
font-size: 16px;
}
section{
    gap: 0.5rem;
    margin-bottom: 10px;
}
.input {
border-radius: 12px;
padding: 1%;
margin: 1%;
width: 100%;
outline: none;
}
.div{
    display: flex;
    margin: 5% 0;
}
label{
    align-content: center;
}
.btn{
    margin-top: 2% ;
background-color: #ef7a99;
}*/