.formulario {
    width: 100%;
    margin: 2%;
    font-size: 18px;
}

label {
    width: 30%;
    text-align: left;
    margin-bottom: 1%;
}

.input {
    border-radius: 12px;
    padding: 5px;
    margin: 0.5% 10px;
    outline: none;
    width: 60%;
}

.error {
    font-size: 14px;
    color: #ff6b6b;
}
.div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    gap: 6px;
    align-items: left;
    /* 🔥 centra el label con el input */
}

.div2 {
    display: flex;
    flex-direction: row;
}



.btn {
    margin-top: 2%;
    background-color: #ef7a99;
}

.foto {
    font-size: 18px;
    margin: 2%;
}

.btn-eliminar {
    background-color: #09928f;
    margin-top: 2%;
}