article {
      border:solid   #0FC2C0 ;
    border-radius: 20px;
    margin:20px;
    padding:1em 1.5em;
    align-items: center;
    justify-content: center;
}
.item {
    color:#ef7a99;
    font-size: 1.4em;
}
img{
    height: 170px;
    width: 150px;
    margin:auto 2%;
}
.botonR{
     background-color:#ef7a99;
}
p{
    font-weight: normal;
}