.carrito {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 10%;
    margin: 0 30%;
}
.btn1 {
    background-color: #F2668B;
    margin: 10px;
}

.botones {
    display: flex;
    justify-content: center;
}

.total {
    font-size: 20px;
    color: rgb(3, 193, 193);
}

@media (max-width:600px) {
    .carrito {
        width: 90%;
        margin: 3% 5%;
        padding: 0;
    }
}