h1{
    color:#F2668B;
}
.div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1% 4%;
    width: 100%;
}
.img{
    height: 80px;
    width: 80px;
}