nav {
  background-color: #333;
  color: white;
  padding: 2px 10px;
  width: 100%;
  margin:auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

li:hover {

  font-weight: 600;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  margin-left: 4px;
}