.crud{
   display: flex;
   width: 100%;
}
.list-section{
    flex-direction: column;
width: 90%;
margin:0 5%
}
.form-section{
    width: 35%;
   height: 35%;
    border-radius: 8%;
    border: solid #ef7a99;
    margin: 5% 2%;
    padding: 0.5%;
}
.lista{
    border:solid #ef7a99;
}
.borde{
    border: solid 1px #ef7a99;
}
.btn-editar{
    background-color:  #09928f ;
    margin: 5px;
}